<header>
	<navbar></navbar>
</header>

<main>
	<md-sidenav-layout>

		<md-sidenav #start (open)="closeStartButton.focus()">
			Start Sidenav.
			<br>
			<button md-button #closeStartButton (click)="start.close()">Close</button>
		</md-sidenav>
		
		<md-sidenav #end align="end">
			End Sidenav.
			<button md-button (click)="end.close()">Close</button>
		</md-sidenav>

		My regular content. This will be moved into the proper DOM at runtime.
		<button md-button (click)="start.open()">Open start sidenav</button>
		<button md-button (click)="end.open()">Open end sidenav</button>

		<router-outlet></router-outlet>
		
		<md-progress-circle mode="indeterminate"></md-progress-circle>


	</md-sidenav-layout>


</main>

<footer></footer>